{% extends "base.html" %}

{% block content %}
    <h1>Request Book</h1>
    <form action="/request" method="post">
        <p>
            {{ form.title.label }}<br>
            {% for field, errors in form.errors.items() %}
                <small class="form-text text-muted ">
                    {{ ', '.join(errors) }}
                </small>
            {% endfor %}
            {{ form.title(size=32) }}
        </p>
        <p>
            {{ form.email.label }}<br>
            {{ form.email(size=32) }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}  